/AwesomeNewsApp/AwesomeNewsApp.xcodeproj/project.xcworkspace/xcuserdata/yimingdong.xcuserdatad/UserInterfaceState.xcuserstate
/AwesomeNewsApp/AwesomeNewsApp.xcodeproj/xcuserdata/yimingdong.xcuserdatad/xcschemes/AwesomeNewsApp.xcscheme
/AwesomeNewsApp/AwesomeNewsApp.xcodeproj/xcuserdata/yimingdong.xcuserdatad/xcschemes/UITests.xcscheme
/AwesomeNewsApp/AwesomeNewsApp.xcodeproj/xcuserdata/yimingdong.xcuserdatad/xcschemes/UnitTests.xcscheme
/AwesomeNewsApp/AwesomeNewsApp.xcodeproj/xcuserdata/yimingdong.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
/AwesomeNewsApp/AwesomeNewsApp.xcworkspace/xcuserdata/yimingdong.xcuserdatad/UserInterfaceState.xcuserstate
